<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.berlin.hwr.basketistics">

    <!-- For Camera usage -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.Manifest.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.Manifest.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- For camera usage -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="de.berlin.hwr.basketistics.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".UI.StartGameActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".UI.TeamActivity" />
        <activity android:name=".UI.AddPlayerActivity" />
        <activity android:name=".UI.GameActivity" />
        <activity android:name=".UI.MatchesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.AddMatchActivity" />
        <activity android:name=".UI.FirstRunActivity"></activity>
    </application>

</manifest>